<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992345954239-b5658qgoco6s7e75vj2u4qcrqq5c65ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992345954239-b5658qgoco6s7e75vj2u4qcrqq5c65ef</string>
	<key>API_KEY</key>
	<string>AIzaSyAkCiQoJYuMaH4kroKNJoYfgSFLtZ357sU</string>
	<key>GCM_SENDER_ID</key>
	<string>992345954239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.hackrice</string>
	<key>PROJECT_ID</key>
	<string>chevron-8809a</string>
	<key>STORAGE_BUCKET</key>
	<string>chevron-8809a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992345954239:ios:48d1d06d25043d2fd3f30a</string>
	<key>DATABASE_URL</key>
	<string>https://chevron-8809a.firebaseio.com</string>
</dict>
</plist>